---
---

// $link-color: #7dc2d6;
$link-color: #5ba0EE;
$text-color: #333333;
$sans-serif: -apple-system, "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "{{ site.theme }}";

.archive {
  width: calc(100% - 200px);
  padding-right: 200px;
}

.border-radius {
  border-radius: 100%;
}

.center-image-about {
  margin: 0 auto;
  display: block;
  width: 50%;
}
